# Environment variables
.env

# Dependencies
node_modules/

# Data file
biffcoin_data.json

# macOS system files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo